body{
  margin: 0;
}

header{
  background-color: #58D3F7;
  padding: 3px;



}

h1{
  color: white;
  text-align: left;
  margin-left: 30px;
  border: 0px

}

#linea{
  background-color: white;
  width: 210px;
  height: 5px;

  margin-left: 25px;

}
.contenedor{

  width: 700px;
  height: 700px;
  margin:  auto;

}
.caja{
  background-color: #58D3F7;
  color: white;
  display: inline-block;
  margin: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;

}

footer{
  background-color: #58D3F7;
  text-align: center;
  color: white;

}
