body{
  margin: 0;
}

header{
  background-color: #187777;
  padding: 3px;



}

h1{
  color: white;
  text-align: left;
  margin-left: 30px;
  border: 0px

}

#linea{
  background-color: white;
  width: 210px;
  height: 5px;

  margin-left: 25px;

}
.contenedor{

  width: 700px;
  height: 700px;
  margin:  auto;

}

.caja{
  display: inline-block;
  margin: auto 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30%;
  margin-top: 63px;

}
